<h2 style="text-align:center">The Blog</h2>
<div style="text-align:center">
In here you would expect to find meaningful thoughts and comments on just about anything.
<br/><br/>
<b>You will be sorely disappointed.</b>
<br/>
<a href="./blogposts">Click here.</a>
</div>
